@import '~antd/dist/antd.css';

.button {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.discrib {
    margin-bottom: 1em;
}

.ant-checkbox-wrapper {
  font-size: 15px;
}
